<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Chatbot Example</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/Avatar-chatbot.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap_css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fa5/css/all.css') }}">
</head>
<body>
    <section class="preloader" id="preloader">
        <img src="/static/img/Avatar-chatbot.png" alt="Logo" />
        <svg class="filter" version="1.1">
          <defs>
            <filter id="gooeyness">
              <feGaussianBlur
                in="SourceGraphic"
                stdDeviation="10"
                result="blur"
              />
              <feColorMatrix
                in="blur"
                mode="matrix"
                values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10"
                result="gooeyness"
              />
              <feComposite in="SourceGraphic" in2="gooeyness" operator="atop" />
            </filter>
          </defs>
        </svg>
        <div class="dots">
          <div class="dot mainDot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
    </section>

    <section
      id="chatbot-container container-fluid p-0"
      class="chatbot-container"
    >
      <img src="/static/img/Chat1.png" class="d-none d-lg-block" alt="" />
      <div class="chatbot-main col-10 col-lg-4 px-0">
        <div class="chatbot-header">
          <div class="chatbot-avatar">
            <img src="/static/img/logoVTCDoc.png" alt="" />
          </div>
          <div class="title">
            <b>Chatbot GPT</b>
            <small>Luôn hoạt động</small>
          </div>
        </div>
        <div class="chatbot-body p-3" id="chatlog">
          <!-- demo chat -->
          
          <!-- end demo chat -->
        </div>
        <div class="chatbot-footer">
          <input
            type="text"
            class="form-control chatbot-input mb-2 mx-2"
            id="userinput"
            placeholder="Nhập cái gì đó"
          />
          <button type="submit" class="btn btn-send mb-2" id="submit">
            <i class="fas fa-paper-plane text-white"></i>
          </button>
        </div>
      </div>
      <img src="/static/img/Chat2.png" class="d-none d-lg-block" alt="" />
    </section>
    <script>
        window.scrollTo(0, document.body.scrollHeight);
        const chatlog = document.querySelector("#chatlog");
        const userinput = document.querySelector("#userinput");
        const submit = document.querySelector("#submit");

        document.addEventListener("keydown", function (event) {
            if (event.keyCode === 13) {
                document.getElementById("submit").click();
            }
        });

        submit.addEventListener("click", async () => {
            const message = userinput.value;
            chatlog.innerHTML += `<div class="user-box"><span>${message}</span></div>  `;
            userinput.value = "";
            userinput.disabled  = true;
            const response = await (await fetch("/send_message", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ message }),
            })).json();
            console.log(response);
            chatlog.innerHTML += `<div class="chatbot-box">
                <div class="chatbot-avatar">
                  <img src="/static/img/logoVTCDoc.png" alt="" />
                </div>
                <pre>${response.message.trim()}</pre>
              </div>   `;
            userinput.disabled  = false;
        });

    
    </script>
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrapJs/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>